body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url(header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*position: sticky;*/
}



.display1{
	/*background-color: rgba(225, 0, 0, 0.2);*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center {
	text-align: center;
	/*background-color: rgba(0, 0, 225, 0.2);*/
	margin: 50px;
	padding-bottom: 50px;
	/*position: sticky;*/
}

.center2 {
	text-align: center;
	/*background-color: rgba(0, 225, 0, 0.2);*/
	margin: 50px;
	padding-top: 30px;
	/*position: sticky;*/

}




h2 {
	color: white;
	font-weight: 10px;
}

.btn-primary{
	background-color: #ff3300;
	border-radius: 20px;
	font-size: 15px;
	border-color: #ff3300;
	cursor: pointer;
}

.btn-primary:hover {
	border-color: #ff3300;
	background-color: rgb(225,0,0,0.7);
}